@import "../utils/parameters";
@import "../utils/mixins";

.header {
  background-image: url("../imgs/main.png");
  background-repeat:no-repeat;
  max-width: 100vw;

    &__logo {
      font-family: Ribeye;
      font-size: 2.4rem;
      line-height: 150%;
      letter-spacing: 0.06em;
      color: #ffffff;
      margin: 4.2rem 0 0 0;
      padding: 0 21.1rem 0 0;
    }
  
  &__nav {
    display: inline-block;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 150%;
    color: #ffffff;

    a {
      padding: 1.4rem 5rem;
      color: #ffffff;
      z-index: 1;
    }

    a:hover {
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 150%;
      color: #ffffff;
    }
    ul {
      padding: 0;
      margin: 0 auto;
      height: 40px;
    }

    li {
      display: inline;
    }
    .button{
        display: inline-block;
        max-width: 16.3rem;
        max-height: 5.1rem;
        background: #C9453B;
        border-radius: 5px;
    }
  }
  &__title{
    font-family: Gelasio;
    font-weight: bold;
    font-size: 6.5rem;
    line-height: 120%;
    color: #FFFFFF;
    max-width: 80.4rem;
    margin:20rem 0 0 0;
  }
  &__description{
    font-family: Roboto;
    font-size: 1.8rem;
    line-height: 160%;
    color:rgba(255,255,255,0.6);
    padding: 3rem 0 4rem 0;
    max-width: 45.8rem;
  }
  &__button{
    background: #C9453B;
    border-radius: 5px;
    display: inline-block;
    max-height: 5.1rem;
    font-family: Roboto;
    font-size: 1.6rem;
    color: #FFFFFF;
    padding: 1.7rem 4.7rem;
    margin-bottom: 24.4rem;
  }
}
