section.blog
    div.container
        .blog__wrap-text
            .blog__text-title From Blog & News
            .blog__text-desc Welcome to Community Conversations, a new interview series featuring Intrepid travellers, creatives and activists in our community.
        .blog__wrap-new
            .blog__wrap-main
                .blog__main-img 
                    img(src="./assets/imgs/canada.png", alt="canada") 
                .blog__main-title Banff National Park
                .blog__main-desc Banff National Park lies in the heart of the majestic Rocky Mountains in the province of Alberta, and showcases some of Canada's most beautiful scenery. Turquoise-colored lakes, snow-capped peaks, and glaciers are all easily accessible 
                .blog__main-author @thomasalva_adison
            .blog__bloc-card
                .blog__wrap-card
                    .blog__new-img 
                        img(src="./assets/imgs/hiroshima.png", alt="hiroshima")
                    .blog__new-wrap-txt
                        .blog__new-title The Hiroshima Peace!
                        .blog__new-desc It was formally opened to the public in August that year.
                        .blog__new-author @shova_bd88
                .blog__wrap-card
                    .blog__new-img 
                        img(src="./assets/imgs/india.png", alt="india")
                    .blog__new-wrap-txt
                        .blog__new-title The faithful prayers!
                        .blog__new-desc A major pilgrimage center for Hindus, the holy city.
                        .blog__new-author @adem/smith
                .blog__wrap-card
                    .blog__new-img 
                        img(src="./assets/imgs/naltar.png", alt="naltar")
                    .blog__new-wrap-txt
                        .blog__new-title Colourful waters!
                        .blog__new-desc Forest-driven water and energy cycles are poorly.
                        .blog__new-author @jhon7leew