footer.footer
     div.container
        .footer__wrap
            .footer__wrap-one-col
                .footer__logo Trevland
                .footer__contact Contact us
                    .footer__contact-mail @shovasatkhira88.com
                .footer__social
                    img(src="./assets/imgs/face.svg", alt="facebook")
                    img(src="./assets/imgs/inst.svg", alt="instagram")
                    img(src="./assets/imgs/twit.svg", alt="twitter")
                    img(src="./assets/imgs/google.svg", alt="google")
            .footer__wrap-two-col
                ul 
                    li
                        a(href="#") Services
                    li  
                        a(href="#") About
                    li
                        a(href="#") Our story
                    li
                        a(href="#") Benefits
                    li
                        a(href="#") Branding
            .footer__wrap-three-col
                ul 
                    li
                        a(href="#") Legal
                    li  
                        a(href="#") Terms & Conditions
                    li
                        a(href="#") Privecy Policy
                    li
                        a(href="#") Terms of use
            .footer__form-bloc 
                .footer__form-bloc-title SUBSCRIBE NOW
                .footer__form
                    form(action="#") 
                        input(type="text" id="email" placeholder ="Email").field
                    button Send