header.header 
    div.container
        .header__logo Trevland
        .header__nav
            ul 
                li
                    a(href="#") Home 
                li  
                    a(href="#") Location
                li
                    a(href="#") Blog
                li
                    a(href="#") About
                li
                    a(href="#") Contact
        
            a(href="#").button Booking now
        .header__title Railtrips To Here, There And Everywhere!
        .header__description We all wish to start our year the best way possible and also according to a common belief if you have a great start to your.
        .header__button Explore more