header.header 
    div.container
        .header__logo Trevland
        .header__nav
            ul 
                li
                    a(href="#") Home 
                li  
                    a(href="#") Location
                li
                    a(href="#") Blog
                li
                    a(href="#") About
                li
                    a(href="#") Contact
        
            a(href="#").button Booking now