section.location
    div.container
        .location__wrap 
            .location__title Popular Location
            .location__description For every one of us, travel came first. We’ve spent years living as nomads, pioneers, and voyagers— from island hopping in the
            .location__card-wrap 
                .location__card 
                    .location__card-img 
                        img(src="./assets/imgs/baloon.png", alt="baloon") 
                    .location__card-text
                        .location__card-title Istanbul, Turkey
                        .location__card-desc Istanbul is a major city in Turkey that straddles Europe.
                .location__card 
                    .location__card-img 
                        img(src="./assets/imgs/stat.png", alt="stat") 
                    .location__card-text
                        .location__card-title Kuala Lumpur, malaysia
                        .location__card-desc A 272-step long trek leads you to this century.
                .location__card 
                    .location__card-img 
                        img(src="./assets/imgs/sunny.png", alt="sunny") 
                    .location__card-text
                        .location__card-title Seoul, South Korea
                        .location__card-desc South Korea officially the Republic of Korea is a country in East Asia.

